.caption{
    width: 400px;
    height: 240px;
    position: absolute;
    background:url('img/caption.png');
    top: 50px;
    left:200px;
    opacity: 0;
    -webkit-transition: all 2s;
    -webkit-animation:captionmove 2s ease 2s forwards;
}
@-webkit-keyframes captionmove 
{
0% {left: 200px;opacity: 0;}
25% {left: 160px;opacity: .2;}
50% {left: 120px;opacity: .5;}
75% {left: 80px;opacity: .8}
100% {left: 50px;opacity: 1;}
}

.tit{
    width: 400px;
    top: 290px;
    left: 50px;
    position: absolute;
    opacity: 0;
    -webkit-animation:titmove 2s ease 3s forwards;
}
@-webkit-keyframes titmove 
{
0% {left: 200px;opacity: 0;}
25% {left: 160px;opacity: .2;}
50% {left: 120px;opacity: .5;}
75% {left: 80px;opacity: .8}
100% {left: 50px;opacity: 1;}
}

.text{
    width: 400px;
    top: 340px;
    left: 50px;
    position: absolute;
    opacity: 0;
    -webkit-animation:textmove 2s ease 4s forwards;
}
@-webkit-keyframes textmove 
{
0% {left: 200px;opacity: 0;}
25% {left: 160px;opacity: .2;}
50% {left: 120px;opacity: .5;}
75% {left: 80px;opacity: .8}
100% {left: 50px;opacity: 1;}
}


.sz1{
    width: 218px;
    height: 180px;
    background: url('img/line_1.png');
    position: absolute;
    top: 120px;
    left: 10px;
    -webkit-animation:sz1move 1s ease 2s forwards;
    }
@-webkit-keyframes sz1move
{
from {opacity: 1;}
to {opacity: 0;}
}

.sz2{
    width: 219px;
    height: 159px;
    position: absolute;
    background: url('img/line_2.png');
    left: 10px;
    top: 155px;
    opacity: 0;
    -webkit-animation:sz2move 1s ease 2.5s forwards;
    }
.sz3{
    width: 264px;
    height: 117px;
    position: absolute;
    background: url('img/line_3.png');
    left: 10px;
    top: 220px;
    opacity: 0;
    -webkit-animation:sz2move 1s ease 3.5s forwards;
}
@-webkit-keyframes sz2move
{
50% {opacity: 1;}
100%{opacity: 0;}
}

.sz4{
    width: 288px;
    height: 56px;
    position: absolute;
    background: url('img/line_4.png');
    left: 10px;
    top: 290px;
    opacity: 0;
    -webkit-animation:sz4move 1s ease 4.5s forwards;
    }
@-webkit-keyframes sz4move
{
0% {opacity: 0;}
50%{opacity: 1}
100%{opacity: 0;}
}

.zongzi{
    background:url('img/zz.png');
    width: 312px;
    height: 305px;
    -webkit-animation:zongzimove 1s ease 5.5s forwards;
    }
@-webkit-keyframes zongzimove
{
0% {opacity: 1;}
25% {opacity: 0.3;}
100% {opacity: 0;}
}


.ly{
    width: 114px;
    height: 266px;
    background: url('img/leaf_left.png');
    position: absolute;
    left: 20px;
    top: -40px;
    opacity: 0;
    z-index: 1;
    -webkit-animation:lymove 1s ease 5.5s forwards;
    }
@-webkit-keyframes lymove
{
0% {opacity: 0; }
50%{opacity: 1;}
100%{opacity: 0;}
}

.ry{
    width: 318px;
    height: 336px;
    background: url('img/leaf_right.png');
    position: absolute;
    left: 80px;
    top: -70px;
    opacity: 0;
    z-index: 1;
    -webkit-transform-origin: 0% 100%;
    -webkit-animation:rymove 1s ease 5.5s forwards;
    }
@-webkit-keyframes rymove
{
0% {opacity: 0; }
50%{opacity: 1;}
100%{opacity: 0;}
}

.by{
    width: 618px;
    height: 468px;
    background: url('img/leaf_expand.png');
    position: absolute;
    left: -150px;
    top: -65px;
    opacity: 0;
    -webkit-animation:bymove 1s ease 6s forwards;
    }
@-webkit-keyframes bymove
{
0% {opacity: 0;}
100%{opacity: 1;}
}

